<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="videoClose">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="embed-responsive embed-responsive-16by9">
                    {{!--<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/puuUDgA0XkA" allowfullscreen></iframe>--}}
                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/219496096?title=0&byline=0&portrait=0&api=1" width="640" height="360" frameborder="0" id="video"></iframe>
                    {{!--<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/219496096?title=0&byline=0&portrait=0&api=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen id="video"></iframe>--}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- demoRequests modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Request Demo</h5>
      </div>
      <div class="modal-body" id="modalbody">
        <form id="demoform">
            <div class="form-group row">
            <label for="demoName" class="col-sm-2 col-form-label">Name <span style="color:red;">*</span></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="demoName" placeholder="Name" data-validation="required">
            </div>
            </div>
            <div class="form-group row">
            <label for="demoEmail" class="col-sm-2 col-form-label">Email <span style="color:red;">*</span></label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="demoEmail" placeholder="Email" data-validation="email" data-validation="required">
            </div>
            </div>
            <div class="form-group row">
            <label for="demoPhone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="demoPhone" placeholder="Phone Number" data-validation="length" data-validation-length="5-15" data-validation="number">
            </div>
            </div>
            <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button id="demo" type="submit" class="btn btn-primary" disabled>Submit</button>
            </div>
            </div>
        </form>
        <div class="col-xs-12" id="demoSuccess" style="display:none;">
            <p id="user" class="bg-success p-a-1">We've recieved your demo request, If you wish for a personalized demo, please let us know few more things about you.
            </p>
            <p id="indexDBerr" class="hidden-xs-up bg-sucess p-a-1">We are sorry to inform that this inquire is not submitted because your are offline or
                using an old browser</p>
        </div>
        <form id="demoform2" style="display:none;">
            <div class="form-group row">
            <label for="websiteName" class="col-sm-2 col-form-label">Website Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="websiteName" placeholder="www.yourwebsite.com" required>
            </div>
            </div>
            <div class="form-group row">
            <label for="dau" class="col-sm-2 col-form-label">Daily Active Users</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="dau" placeholder="5000">
            </div>
            </div>
            <div class="form-group row">
            <label for="pmu" class="col-sm-2 col-form-label">% of Mobile Users</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="pmu" placeholder="60">
            </div>
            </div>
            <div class="form-group row">
            <label for="growthRate" class="col-sm-2 col-form-label">Growth Rate</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="growthRate" placeholder="25">
            </div>
            </div>
            <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button id="demo2" type="submit" class="btn btn-primary" disabled>Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            </div>
        </form>
        <div class="col-xs-12" id="demo2Success" style="display:none;">
            <p id="user" class="bg-success p-a-1">We've recieved your personalized demo request, our team member would get in touch with you shortly within next 48 hours.
            </p>
            <p id="indexDBerr" class="hidden-xs-up bg-sucess p-a-1">We are sorry to inform that this inquire is not submitted because your are offline or
                using an old browser</p>
        </div>
        <form id="demoSuccesClose" style="display:none;">
            <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>



<section id='main' class="row p-b-3 p-t-3">
    <div class="main-content container ">
        <div class="text-xs-center p-y-0">
            <div class="col-lg-12 mb-desc-home p-t-3 ">
                <h1>In <span class="underline-heading">15 mins</span> upgrade your ecommerce website into a Progressive Web App </h1>
                <span>An app like mobile web experience. Faster, lighter &amp; personalized</span>
            </div>
            {{!--
            <div class="col-lg-2 col-lg-offset-8 p-t-2">
                <i class="fa fa-mobile" aria-hidden="true"></i>
            </div>--}}
            <!--<div class="col-lg-6 col-lg-offset-3 target m-y-1 hidden-sm-up">
                <img src="{{address}}/resource/image/logo.svg" />
            </div>-->
            {{!--
            <div class="col-lg-6 col-lg-offset-3 m-y-1 ">
                <hr/>
                <h5 class="content">Now <span class="btw-index-span">build</span> and <span class="btw-index-span">track</span> new age <span class="btw-index-span">LITE</span> mobile web apps!</h5>
                <hr/>
                <!--<h6>Be offline first with mobile first</h6>-->
                <!--<p> PWA requires no installation, has icon on the home screen, sends push notifications, works offline, available
                    on all devices. <br/>Best of the web and mobile apps.</p>-->
            </div>--}}
            <div class="col-lg-10 col-lg-offset-1 m-t-3 mb-startbtn-home m-b-2">
                <div class="col-md-6">
                    <a class="btn btn-primary btn-cs-lg m-a-1 btn-lg uppercase" href="/know-about-aliexpress-pwa" role="button" style="
                        font-weight: 600;
                    ">Know More</a>
                    <br/>
                    <span class="col-md-12"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> AliExpress Conversions up by 104%</span>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary btn-cs-lg m-a-1 btn-lg uppercase" type="button" style="
                    font-weight: 600;
                " data-toggle="modal" data-target="#myModal">Request a Demo</button>
                    <br/>
                    <span class="col-md-12"><i class="fa fa-code" aria-hidden="true"></i> No Coding Required</span>
                </div>
            </div>
            {{!--
            <div class="col-lg-8 col-lg-offset-2 mb-startbtn-home">
                <span class="col-md-6 text-align-right"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Know What &amp; How?</span>
                <span class="col-md-1"></span>
                <span class="col-md-4 text-align-right"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> No Coding Required</span>
            </div>--}}
            <!--<div class="col-lg-6 col-lg-offset-3 target m-y-1 hidden-xs-down">
                <img src="{{address}}/resource/image/logo.svg" />
            </div>-->
            <!--<div class="col-lg-6 col-lg-offset-3  arrow m-t-3">
                                <a href="#What">
                                    <img src="{{address}}/resource/image/arrow.svg" />
                                </a>
                            </div>-->

            <div class="col-sm-8 col-sm-offset-2 m-t-3" id="benefitsCatalogue">
                <div class="col-sm-4 m-t-1 ">
                    <div>
                        <!--<img class=" pull-sm-left m-r-1 m-b-1" src="http://localhost:5601/resource/image/what-icon/notification.svg" alt="Card image cap">-->
                        <div>
                            {{!--<i class="fa fa-shopping-cart m-r-1  ph-blue fa-2x" aria-hidden="true"></i>--}} {{!--
                            <img class=" m-r-1" src="{{address}}/resource/image/what-icon/flip.png" alt="Card image cap">--}}
                            <h4>Flipkart</h4>
                            <h6 class="card-title m-t-1 m-b-0">70% greater conversion rate via lite web app</h6>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 m-t-1 ">
                    <div>
                        <!--<img class=" pull-sm-left m-r-1 m-b-1" src="http://localhost:5601/resource/image/what-icon/notification.svg" alt="Card image cap">-->
                        <div>
                            {{!--<i class="fa fa-shopping-cart m-r-1  ph-blue fa-2x" aria-hidden="true"></i>--}}
                            <h4>Housing</h4> {{!--
                            <img class=" m-r-1" src="{{address}}/resource/image/what-icon/hou.png" alt="Card image cap">--}}
                            <h6 class="card-title m-t-1 m-b-0">40% lower bounce rates over mobile</h6>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 m-t-1 ">
                    <div>
                        <!--<img class=" pull-sm-left m-r-1 m-b-1" src="http://localhost:5601/resource/image/what-icon/notification.svg" alt="Card image cap">-->
                        <div>
                            {{!--<i class="fa fa-shopping-cart m-r-1  ph-blue fa-2x" aria-hidden="true"></i>--}} {{!--
                            <img class=" m-r-1" src="{{address}}/resource/image/what-icon/ali.png" alt="Card image cap">--}}
                            <h4>AliExpress</h4>
                            <h6 class="card-title m-t-1 m-b-0">74% increase in user retention</h6>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<section id="What" class="row p-y-3">
    <div class="container">
        <div class="text-xs-center col-md-8 m-b-3 m-t-1 col-md-offset-2">
            <h2>Every Feature, You Look For</h2>
            <span>Enable existing website to a growth machine!</span>
        </div>
        <div class="col-xs-12 flex center middle m-b-2">
            <div class="col-xs-12 col-md-5 flex center middle text-xs-center">
                <img class="img-fluid full" src="{{address}}/resource/image/what-icon/stealstyle.png" alt="StealStyle Ecommerce Progressive Web App" title="StealStyle Ecommerce Progressive Web App">
            </div>
            <div class="col-xs-9 col-xs-offset-3 col-md-offset-0 col-md-2 m-t-2">
                <button class="btn btn-inquire m-a-1 uppercase" type="button" title="Watch 1 Minute Video" data-toggle="modal" data-target="#videoModal" style="
                        border-radius: 25px; min-width: 70px; " onclick="onVideoPlay()"><i class="fa fa-play fa-2x" aria-hidden="true"></i></button>
            </div>
            <div class="col-xs-12 col-md-5 m-t-2">
                <ul>
                    <li class="p-b-1">
                        <img class=" m-r-1 small-img" src="{{address}}/resource/image/what-icon/installable.svg" alt="Installable Progressive Web Application"> Installable
                    </li>
                    <li class="p-b-1">
                        <img class=" m-r-1" src="{{address}}/resource/image/what-icon/bolt.svg" alt="Progressive Web Apps loads lightening fast">Lightning fast
                    </li>
                    <li class="p-b-1">
                        <img class=" m-r-1" src="{{address}}/resource/image/what-icon/wifi.svg" alt="Progressive Web Apps are offline websites">Works offline
                    </li>
                    <li class="p-b-1">
                        <img class=" m-r-1" src="{{address}}/resource/image/what-icon/notification.svg" alt="Send Push notifications using progressive web applications">Web push notifications
                    </li>
                    <li class="p-b-1">
                        <img class=" m-r-1" src="{{address}}/resource/image/what-icon/lightweight.svg" alt="Progressive apps are lightweight apps">Lightweight app
                    </li>
                    <li class="p-b-1"><img class=" m-r-1" src="{{address}}/resource/image/what-icon/responsive.svg" alt="App Style interactions using pwa">App style interactions</li>
                    <li class="p-b-1">
                        <img class=" m-r-1 small-img" src="{{address}}/resource/image/what-icon/linkable.svg" alt="pwa are linkable">Linkable &amp; Discoverable
                    </li>
                </ul>
            </div>


        </div>
        <!--<div class="col-lg-6 col-lg-offset-3 m-y-1 text-xs-center hidden-sm-up">
            <h2>Progressive Web App</h2>
            <p class="p-y-1">Extending these capabilities into your web application</p>
            <hr/>
            <p class="text-xs-justify"> PWA requires no installation, has icon on the home screen, sends push notifications, works offline, available
                on all devices. <br/>Best of the web and mobile apps.</p>
        </div>
        <div class="col-xs-12">
            <div class="col-sm-4 m-t-3 ">
                <div class="card">
                    <div class="card-block">
                        <img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/what-icon/wifi.svg" alt="Card image cap">

                        <h5 class="card-title">Connectivity Independent</h5>
                        <p class="card-text">Progressively-enhanced to let your web app work offline, syncs data and gives the best user experience.
                            It's time to start thinking
                            <u>Offline First</u>.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 m-t-3 ">
                <div class="card">
                    <div class="card-block">
                        <img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/what-icon/notification.svg" alt="Card image cap">

                        <h5 class="card-title">Push Notifications</h5>
                        <p class="card-text">Re-engage your app users in the mobile app way. Scheduled, personalized and multilingual app notifications.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 m-t-3 ">
                <div class="card">
                    <div class="card-block">
                        <img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/what-icon/installable.svg" alt="Card image cap">

                        <h5 class="card-title">Installable</h5>
                        <p class="card-text"> Add to the home screen through browser-provided prompts, allowing users to “keep” apps without the
                            hassle of an app store.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-sm-4 m-t-3 ">
                <div class="card">
                    <div class="card-block">
                        <img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/what-icon/linkable.svg" alt="Card image cap">

                        <h5 class="card-title">Linkable</h5>
                        <p class="card-text">Meaning they’re zero-friction, zero-install, and easy to share. The social power of URLs matters.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 m-t-3 ">
                <div class="card">
                    <div class="card-block">
                        <img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/what-icon/discoverable.svg" alt="Card image cap">
                        <h5 class="card-title">Discoverable</h5>
                        <p class="card-text">Are identifiable as “applications” and still search engines can find them on the web.</p>

                    </div>
                </div>
            </div>

            <div class="col-sm-4 m-t-3 ">
                <div class="card">
                    <div class="card-block">
                        <img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/what-icon/responsive.svg" alt="Card image cap">
                        <h5 class="card-title">Responsive & App Like</h5>
                        <p class="card-text">Fit any form factor: desktop, mobile, tablet, or whatever is next. Feel like an app to the user with
                            app-style interactions and navigation because they’re built on the app shell model.</p>

                    </div>
                </div>
            </div>
        </div>-->
        {{!--
        <div class="col-xs-12 text-xs-center m-t-3 ">
            <h2>Brands Building Progressive Web Apps</h2>

            <p class="p-y-1">Those who have identified its potential</p>
        </div>
        <div class="col-sm-8 col-sm-offset-2 text-xs-center">
            <img class="p-x-1" src="{{address}}/resource/image/brands/flipkart.png" alt="brand" title="Flipkart">
            <img class="p-x-1" src="{{address}}/resource/image/brands/airberlin.png" alt="brand" title="Airberlin">
            <img class="p-x-1" src="{{address}}/resource/image/brands/wp.png" alt="brand" title="Washington Post">
            <img class="p-x-1" src="{{address}}/resource/image/brands/flipboard.png" alt="brand" title="Flipboard">
        </div>--}}

    </div>
</section>
<section id="How" class="row p-t-3">
    <div class="container">
        <div class="text-xs-center col-md-6 m-t-1 m-b-2 col-md-offset-3">

            <h2>Grow Widely, Just Plug &amp; Play</h2> {{!--
            <p class="p-y-1 " id="subheading">A solution to extend current capabilities of your website with easy plug and play tool.
            </p>--}}
        </div>
        <div class="col-xs-12 text-center m-t-2">
            <div class="col-sm-4 text-xs-center">
                <div class="steps-card card">
                    <div class="min-height-div">
                        <img class="card-img-top p-a-1" src="{{address}}/resource/image/why-icon/icons1.svg" alt="responsive website for mobile and desktop" />
                    </div>
                    <div class="card-block p-b-3">
                        <h5 class="card-title">Your Responsive Website for Mobile &amp; Desktop</h5> {{!--
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="ph_red fa fa-ban pull-xs-left"></span> Offline
                            </li>--}} {{!--
                            <li class="list-group-item">
                                <span class="ph_red fa fa-ban pull-xs-left"></span> Push Notifications
                            </li>
                            <li class="list-group-item">
                                <span class="ph_red fa fa-ban pull-xs-left"></span> Periodic Background Sync
                            </li>
                            <li class="list-group-item">
                                <span class="ph_red fa fa-ban pull-xs-left"></span> Installable
                            </li>
                            <li class="list-group-item">
                                <span class="ph_yellow fa fa-question-circle pull-xs-left"></span> App Like UI
                            </li>
                            <li class="list-group-item">
                                <span class="ph_yellow fa fa-question-circle pull-xs-left"></span> Mobile Web
                            </li>--}}
                            <!--<li class="list-group-item">
                                                <span class="ph_yellow octicon octicon-unverified pull-xs-left"></span>
                                                Web App
                                            </li>
                                             <li class="list-group-item">
                                                <span class="ph_yellow octicon octicon-unverified pull-xs-left"></span>
                                                Mobile App
                                            </li>-->
                            {{!--</ul>--}}
                    </div>
                </div>
                <span class="faRotate fa fa-caret-right"></span>
            </div>
            <div class="col-sm-4">
                <div class="steps-card card text-xs-center">
                    <div class="min-height-div">
                        <img class="card-img-top" id="why-prohive-img" src="{{address}}/resource/image/why-icon/icons2.svg" alt="Widely, plug And play setup" />
                    </div>
                    <div class="card-block p-b-3">
                        <h5 class="card-title">Copy code from Widely to your website</h5>
                        <!--<p class="card-text">Offline check, push notifications check, add to homescreen check, app-like check, cross-browser check</p>-->
                        {{!--
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="ph_pro fa fa-bolt pull-xs-left"></span> ProgressHive APIs &amp; SDK
                            </li>--}} {{!--
                            <li class="list-group-item">
                                <span class="ph_pro fa fa-bolt pull-xs-left"></span> PWA Mobile &amp; Web Analytics
                            </li>
                            <li class="list-group-item">
                                <span class="ph_pro fa fa-bolt pull-xs-left"></span> Offline Customizations
                            </li>
                            <li class="list-group-item">
                                <span class="ph_pro fa fa-bolt pull-xs-left"></span> Web Push Notifications
                            </li>
                            <li class="list-group-item">
                                <span class="ph_pro fa fa-bolt pull-xs-left"></span> Conversion Optimization
                            </li>
                            <li class="list-group-item">
                                <span class="ph_pro fa fa-bolt pull-xs-left"></span> Live Data Reporting
                            </li>--}} {{!--
                        </ul>--}}

                    </div>
                </div>
                <span class="faRotate fa fa-caret-right"></span>
            </div>
            <div class="col-sm-4 text-xs-center">
                <div class="steps-card card">
                    <div class="min-height-div">
                        <img class="card-img-top p-a-1" src="{{address}}/resource/image/why-icon/icons3.svg" alt="progressive web application from existing website" />
                    </div>
                    <div class="card-block p-b-2">
                        <h5 class="card-title">Your website becomes a Progressive Web App</h5> {{!--
                        <ul class="list-group">--}} {{!--
                            <li class="list-group-item">
                                <span class="ph_green fa fa-check pull-xs-left"></span> Offline First
                            </li>--}} {{!--
                            <li class="list-group-item">
                                <span class="ph_green fa fa-check pull-xs-left"></span> Installable
                            </li>
                            <li class="list-group-item">
                                <span class="ph_green fa fa-check pull-xs-left"></span> Periodic Background Sync
                            </li>
                            <li class="list-group-item">
                                <span class="ph_green fa fa-check pull-xs-left"></span> Web Push Notifications
                            </li>
                            <li class="list-group-item">
                                <span class="ph_green fa fa-check pull-xs-left"></span> Linkable and Lite App
                            </li>
                            <li class="list-group-item">
                                <span class="ph_green fa fa-check pull-xs-left"></span> One Stop Dashboard
                            </li>
                            <li class="list-group-item">
                                <span class="ph_green fa fa-check pull-xs-left"></span> Higher Conversions
                            </li>
                            <li class="list-group-item">
                                <span class="ph_green fa fa-check pull-xs-left"></span> Mobile &amp; Web Re-engagement
                            </li>
                            <li class="list-group-item">
                                <span class="ph_green fa fa-check pull-xs-left"></span>
                                <img src="{{address}}/resource/image/browser-support/chrome.png" title="Mobile & Web">
                                <img src="{{address}}/resource/image/browser-support/firefox.png" title="Mobile & Web">
                                <img src="{{address}}/resource/image/browser-support/android.png" title="Chrome Android">
                            </li>--}} {{!--
                        </ul>--}}

                    </div>
                </div>
            </div>


        </div>

        <div class="text-xs-center col-md-6 col-md-offset-3 m-t-2">
            <h4> "Super quick, super features"</h4>
            <!--are based on browser app shell, they progressively enhances the performance and capabilties of any web app, collectively making it at par with mobile apps.-->

        </div>
        <div class="col-xs-12  p-b-3">
            <div class="col-xs-12">
                <div class="col-sm-6 m-t-3 col-lg-4 col-lg-offset-2">
                    <div class="card">
                        <div class="card-block tool-features">
                            <!--<img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/what-icon/wifi.svg" alt="Card image cap">-->
                            <i class="fa fa-plug pull-sm-left m-r-1 m-b-1 p-t-1 ph-red fa-2x " aria-hidden="true"></i>
                            <h5 class="card-title p-t-1">Plug &amp; Play Setup</h5>
                            <p class="card-text">Turnaround time is less than 15 minutes. No coding required, just update the given code in your website &amp; let it play.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 m-t-3 col-lg-4 ">
                    <div class="card">
                        <div class="card-block tool-features">
                            <!--<img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/what-icon/wifi.svg" alt="Card image cap">-->
                            <i class="fa fa-tachometer pull-sm-left m-r-1 m-b-1 p-t-1 ph-red fa-2x" aria-hidden="true"></i>
                            <h5 class="card-title">Progressive Web App Analytics</h5>
                            <p class="card-text">Now track &amp; re-engage website visitors like never before. Only tool providing statistics over progressive web app features.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">

                <div class="col-sm-6 m-t-3 col-lg-4 col-lg-offset-2">
                    <div class="card">
                        <div class="card-block tool-features">
                            <!--<img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/what-icon/notification.svg" alt="Card image cap">-->
                            <i class="fa fa-code p-t-1 pull-sm-left m-r-1 m-b-1 ph-red fa-2x" aria-hidden="true"></i>
                            <h5 class="card-title p-t-1 ">Developer Suite &amp; REST APIs</h5>
                            <p class="card-text"> Wish for more than basic? Use every enabled feature to do customization &amp; integration .</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 m-t-3 col-lg-4">
                    <div class="card">
                        <div class="card-block tool-features">
                            <!--<img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/what-icon/notification.svg" alt="Card image cap">-->
                            <span class="fa-stack  pull-sm-left m-r-1 m-b-1">
                            <i class="fa fa-money fa-stack-1x ph-red p-t-1 "></i>
                            <i class="fa fa-ban fa-stack-2x ph-red p-t-1 "></i>
                            </span>
                            <h5 class="card-title p-t-1 ">Free Forever</h5>
                            <p class="card-text"> API &amp; tool are FREE to use. Upgrading into a Progressive Web App is easy, free &amp; supported. We charge only as you grow widely.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section id="Why" class="row">
    <div class="container">
        <div class="text-xs-center col-md-6 col-md-offset-3  p-t-3">
            <h2>Why Should Brands Care?</h2>
        </div>
        <div class="col-xs-12 m-b-3" id="building">
            <div class="col-xs-12">
                <div class="col-sm-6 m-t-3 ">
                    <div class="card">
                        <div class="card-block flex middle">
                            <!--<img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/what-icon/notification.svg" alt="Card image cap">-->
                            <div class="why-icon">
                                <span class="fa-stack  pull-sm-left m-r-2 m-b-2">
                            <i class="fa fa-signal fa-stack-2x ph-red fa-1x" aria-hidden="true"></i>
                            <i class="fa fa-close fa-stack-1x ph-red" style="padding-left: 33px; margin-top: 10px;" aria-hidden="true"></i>
                            </span>
                            </div>
                            <div>
                                <h5 class="card-title m-b-0">Be Omnipresent, Online &amp; Offline</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 m-t-3 ">
                    <div class="card">
                        <div class="card-block flex middle">
                            <!--<img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/what-icon/wifi.svg" alt="Card image cap">-->
                            <div class="why-icon">
                                <i class="fa fa-users pull-sm-left m-r-2 m-b-2 ph-red fa-2x" aria-hidden="true"></i>
                            </div>
                            <div>
                                <h5 class="card-title m-b-0">With existing setup reach huge customer base now</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-sm-6 m-t-3 ">
                    <div class="card">
                        <div class="card-block flex middle">
                            <!--<img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/what-icon/wifi.svg" alt="Card image cap">-->
                            <div class="why-icon">
                                <i class="fa fa-shopping-cart pull-sm-left m-r-2 m-b-2 ph-red fa-3x" aria-hidden="true"></i>
                            </div>
                            <div>
                                <h5 class="card-title m-b-0">Increase 'Add To Cart' by marking presence for every mobile user</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 m-t-3 ">
                    <div class="card">
                        <div class="card-block flex middle">
                            <!--<img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/what-icon/notification.svg" alt="Card image cap">-->
                            <!--<span class="fa-stack  pull-sm-left m-r-1 m-b-1">
                            <i class="fa fa-hand-o-up fa-stack-1x ph-red"></i>
                            <i class="fa  fa-mobile fa-stack-2x ph-red"></i>
                            </span>-->
                            <div class="why-icon">
                                <i class="fa fa-comments-o pull-sm-left m-r-2 m-b-2 ph-red fa-3x" aria-hidden="true"></i>
                            </div>
                            <div>
                                <h5 class="card-title m-b-0">Maximize engagement &amp; retention for existing users</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-sm-6 m-t-3 ">
                    <div class="card">
                        <div class="card-block flex middle">
                            <!--<img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/what-icon/notification.svg" alt="Card image cap">-->
                            <!--<span class="fa-stack  pull-sm-left m-r-1 m-b-1">
                            <i class="fa fa-hand-o-up fa-stack-1x ph-red"></i>
                            <i class="fa  fa-mobile fa-stack-2x ph-red"></i>
                            </span>-->
                            <div class="why-icon">
                                <i class="fa fa-line-chart pull-sm-left m-r-2 m-b-2 ph-red fa-2x" aria-hidden="true"></i>
                            </div>
                            <div>
                                <h5 class="card-title m-b-0">Track website the mobile app way, using Analytics</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 m-t-3 ">
                    <div class="card">
                        <div class="card-block flex middle">
                            <!--<img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/what-icon/notification.svg" alt="Card image cap">-->
                            <!--<span class="fa-stack  pull-sm-left m-r-1 m-b-1">
                            <i class="fa fa-hand-o-up fa-stack-1x ph-red"></i>
                            <i class="fa  fa-mobile fa-stack-2x ph-red"></i>
                            </span>-->
                            <div class="why-icon">
                                <span class="fa-stack  pull-sm-left m-r-2 m-b-2">
                            <i class="fa fa-desktop fa-stack-2x ph-red fa-1x" aria-hidden="true"></i>
                            <i class="fa fa-mobile fa-stack-1x ph-red fa-2x" style="padding-left: 35px; margin-top: 4px;" aria-hidden="true"></i>
                            </span>
                            </div>
                            <div>
                                <h5 class="card-title m-b-0">Provide the most desirable user experience, best of both worlds</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<div class=" col-xs-12 text-xs-center">
            <span class="overlay">
                                <img id="gif" src="{{address}}/resource/image/mobile.png" class="beforePlay"/>
                            </span>
            <img id="spinner" src="{{address}}/resource/image/spinner.gif" />
            <span class="fa fa-youtube-play fa-3x" id="play"></span>

        </div>-->



<!--<span class="mega-octicon octicon-primitive-square" id="pause"></span>-->


<!--User Reach , No uninstalls, Network friendly, Pocket Friendly-->
{{!--
<div class="col-sm-6 col-sm-offset-3 text-xs-center m-t-3">
    <!--<a href="views/Inquire.html" class="btn btn-inquire btn-cs-lg">INQUIRE</a>-->
    <a type="button" href="/inquire" class="btn btn-inquire btn-cs-lg ph_redirect_sections" data-redirect="#main" data-url="inquire">
                                INQUIRE
                                </a>
</div>--}}

<section id="thoughtCatalogue" class="row p-y-3 hidden-xs-down">
    <div class="container">
        <div class="col-xs-3">
            <div class="m-t-3">
                <h2>Sign Up Now</h2>
                {{!--<ul><li>Free Upgrade</li><li>Unlimited Usage</li> <li>Unlimited Push Notifications</li></ul> --}}
                <p class="m-t-1">And get a FREE upgrade to Progressive Web App.</p>
               
                <a class="btn btn-primary btn-cs-lg btn-lg uppercase m-t-1" type="button" href="/tool/#/register" style="
                                font-weight: 600;">Get Started</a> 
                <p class="m-t-1">No strings attached. No credit card required.</p>
            </div>
        </div>
        <div class="col-xs-9">
            <img class="img-fluid dashBoard-img" src="{{address}}/resource/image/why-icon/dashBoard.png" alt="dashboard of widely for creating progressive web apps" title="Dashboard">
            <!--<div class="text-xs-center">
                <h2 class="heading">Thought Catalogue</h2>
            </div>
            <div class="col-sm-4 m-t-3 ">
                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title">
                            <blockquote class="blockquote">Arvind Gopalakrishnan
                                <footer class="blockquote-footer"><a href="https://in.linkedin.com/in/arvind-gopalakrishnan-394b1764" target="_blank"> VP @ Aeris Communications</a></footer>
                            </blockquote>
                        </h5>
                        <p class="card-text">It's the power of millennials that drives them to breathe life into their dreams. 'ProgressHive'
                            has the potential to change the way we see mobile apps, the new kind of apps, progressive web
                            apps.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 m-t-3 ">
                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title">
                            <blockquote class="blockquote">Saurabh Singh
                                <footer class="blockquote-footer"> <a href="https://in.linkedin.com/in/saurabhsingh21north" target="_blank"> Co-Founder - 21North</a></footer>
                            </blockquote>
                        </h5>
                        <p class="card-text"> I'm thrilled by this product Progresshive, you have done some amazing work here. It does seem that
                            this is the future of Web and it brings the key features of mobile to web, going forward.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 m-t-3 ">
                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title">
                            <blockquote class="blockquote">Aloke Gupta
                                <footer class="blockquote-footer"> <a href="https://in.linkedin.com/in/kumar-aloke-gupta-b3bb582" target="_blank"> Director @ CBRE</a></footer>
                            </blockquote>
                        </h5>
                        <p class="card-text">
                            With such cognitive approach and passion to innovate, it is safe to say that the team has done a commendable job with 'ProgressHive'.
                            Distant future of these young guns looks bright.</p>

                    </div>
                </div>
            </div>-->
            <!--<div class="col-sm-6 m-t-3 ">
                                <div class="card">
                                    <div class="card-block">
                                        <img class=" pull-sm-left m-r-1 m-b-1" src="{{address}}/resource/image/dummy.jpg" alt="Card image cap">
                                        <h5 class="card-title">Lorem Ipsum is slechts een</h5> <p class="card-text">Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak.</p>

                                    </div>
                                </div>
                            </div>-->
        </div>
    </div>
</section>